.buttonWrap.buttonlc2.button-orange{
    background-color: #af0507;
}

.testaja.button-icons2.button-extra-big2.button-grey-pale.filter4d{
    background-color: #af0507;
}
.panel-grey button{
    background-color: #af0507 !important;
}
#semua{
    margin-left: 0px !important;
}
#carigame{
    margin-top: 4px;
    display: block;
    width: 100% !important;
}
.test-dong{
    margin: 100px;
}
